* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    min-height: 0;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
    font-size: 0.9rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #f5f7fa;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

dialog {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow-y: auto;
}

.categories {
    background-color: #f5f7fa;
    border-right: 1px solid #ddd;
    padding: 1rem;
    overflow-y: auto;
}

.categories ul {
    list-style: none;
}

.categories li {
    cursor: pointer;
}

.tasks {
    padding: 1rem;
    overflow-y: auto;
}

.tasks ul {
    list-style: none;
}

.tasks li {
    cursor: pointer;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
}

.actions button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 0.6rem 1.1rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #58acff;
}

.dialog-header {
    background-color: #1e90ff;
    color: white;
    padding: 25px;
    text-align: center;
}

.dialog-content {
    color: #414141;
    font-size: 0.9rem;
    padding: 30px;
}

.dialog-content input {
    margin-left: 20px;
    padding: 5px;
}

.dialog-buttons {
    padding-top: 25px;
    text-align: right;
}

.confirm-button {
    background-color: #1e90ff;
    color: white;
    border: 1px solid #1e90ff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #58acff;
    border-color: #58acff;
}

.cancel-button {
    background-color: #f5f7fa;
    color: #414141;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #bdbdbd;
}

#errorMessage {
    margin-top: 20px;
    color: red;
    font-size: 0.8rem;
    text-align: center;
}